examples/dfu/bootloader/pca10028/dual_bank_ble_s130/arm5_no_packs/
examples/ble_central_and_peripheral/experimental/ble_app_hrs_rscs_relay/pca10028/s130/arm5_no_packs/_build/
examples/ble_central_and_peripheral/experimental/ble_app_hrs_rscs_relay/pca10028/s130/arm5_no_packs/JLinkLog.txt
examples/ble_central_and_peripheral/experimental/ble_app_hrs_rscs_relay/pca10028/s130/arm5_no_packs/EventRecorderStub.scvd
examples/ble_central_and_peripheral/experimental/ble_app_hrs_rscs_relay/pca10028/s130/arm5_no_packs/RTE/_nrf51422_xxaa_s130/RTE_Components.h
examples/ble_central_and_peripheral/experimental/ble_app_hrs_rscs_relay/pca10028/s130/arm5_no_packs/JLinkSettings.ini
examples/ble_central_and_peripheral/experimental/ble_app_hrs_rscs_relay/pca10028/s130/arm5_no_packs/ble_app_hrs_rscs_relay_pca10028.uvguix.spidersens
